# --------------------------------------------------------------------
# deps and build results
node_modules
/dist
/__tests


# --------------------------------------------------------------------
# junk
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store

